:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-deep-grey: #333333;
    --color-grey: #dfdfdf;
    --color-red: #e70012;

    --font-small: 18px;

    --spacing-micro: 8px;
    --spacing-small: 20px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

button{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* navbar */
#nav{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#nav::before{
    content: '';
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: var(--color-red);
}

.nav__logo{
    margin-top: 12px;
}
.nav__logo img{
    width: 200px;
}

.nav__menu{
    display: flex;
}

.nav__menu li{
    padding: var(--spacing-micro) 12px;
    margin: 0 var(--spacing-small);
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: var(--font-small);
}

.nav__menu li:hover a{
    color: var(--color-red);
}

.navbar__toggle-btn{
    position: absolute;
    right: 32px;
    top: 40px;
    font-size: 24px;
    color: var(--color-red);
    display: none;
}

/* main */
#main{
    margin-top: var(--spacing-small);
}

.main__slide{
    width: 100%;
    height: 65vh;
    margin: auto;
    position: relative;
}

.main__slides{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    animation: fade-in 1.5s;
}

@keyframes fadein{
    from{
        opacity:0.4;
    }
    to{
        opacity:1;
    }}

.main__slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__pager{
    position: relative;
    margin-top: var(--spacing-micro);
    text-align: center;
}

.dotContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.dotContainer span{
    position:relative;
    display:inline-block;
    width:3rem;
    height:0.3rem;
    background-color:var(--color-grey);
    border-radius: 50px;
    cursor:pointer;
    transition: width 0.3s ease-in-out;
    margin-right: var(--spacing-micro);
}

.dotContainer span.active{
    background-color: var(--color-red);
}

